
section {
    margin: 10px 0px 10px 0px !important;
}

.antibirdspage-slider-container {
  position: relative;
  height: calc(50dvh - 100px);
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

.antibirdspage-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.antibirdspage-slide {
  min-width: 100%;
  height: calc(50dvh - 120px);
  box-sizing: border-box;
}

.antibirdspage-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill;
  border-radius: 8px;
}

.antibirdspage-prev,
.antibirdspage-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(106, 27, 154, 0.8);
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  z-index: 10;
}

.antibirdspage-prev:hover,
.antibirdspage-next:hover {
  background-color: rgba(106, 27, 154, 1);
}

.antibirdspage-prev {
  left: 10px;
}

.antibirdspage-next {
  right: 10px;
}

.antibirdspage-paragraphs {
  margin-top: 20px;
  font-size: 1.1rem;
  line-height: 1.6;
}
.antibirdspage-paragraphs i {
  color: #fff;
  margin-right: 6px;
}
.antibirdspage-book-btn {
  display: inline-block;
  background: #800080;
  color: white;
  padding: 10px 18px;
  font-size: 1.1rem;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 20px;
}
